:root {
	--basic-black: #000000;
	--basic-black-opasity-six: rgba(0, 0, 0, 0.6);
	--basic-black-opasity-five: rgba(0, 0, 0, 0.5);
	--basic-black-opasity-four: rgba(0, 0, 0, 0.4);
	--basic-black-opasity-three: rgba(0, 0, 0, 0.3);
	--basic-black-opasity-two: rgba(0, 0, 0, 0.2);
	--basic-black-opasity-one: rgba(0, 0, 0, 0.1);
	--basic-dark: #363636;

	--basic-grey: #464646;
	--basic-dark-grey: #7e7e7e;

	--basic-half-grey: #dcdcdc;
	--basic-light-grey: #e5e5e5;
	--basic-white: #ffffff;
	--basic-white-opasity-seven: rgba(255, 255, 255, 0.7);
	--basic-white-opasity-three: rgba(255, 255, 255, 0.3);
	--bg-input: #f2f2f2;
	--bg-input-hover: #eaeaea;
	--bg-pagination: #ebebeb;
	--bg-pagination-hover: #d9d9d9;
	--special-yellow: #f7e296;
	--special-dark-yellow: #f0c52e;
	--special-green: #91c92f;
	--special-pink: #f6dada;
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: 
		local("Gilroy-Extrabold"),
		url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
		url("../fonts/Gilroy-Extrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: 
		local("Gilroy-Light"),
		url("../fonts/Gilroy-Light.woff2") format("woff2"),
		url("../fonts/Gilroy-Light.woff") format("woff");
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	min-width: 1240px;
	margin: 0;
	padding: 0;

	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	font-family: "Open Sans", "Arial", sans-serif;
	color: var(--basic-black);

	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1240px;
	margin: 0 auto;
	padding: 0 40px;
}

/* Grid */

.page {
	height: 100%;
}

.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

	min-height: 100%;
}

/* button */

.btn {
	position: relative;

	width: 220px;
	padding: 9px 43px;

	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
	color: var(--basic-black);
	text-transform: uppercase;

	background: none;
	border: none;
}

.btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	z-index: -1;
	transform: translateY(-50%);

	width: 100%;
	height: 8px;

	background-color: var(--special-dark-yellow);
}

.btn:hover::before,
.btn:focus::before {
	height: 40px;
}

.btn:active {
	color: var(--basic-black-opasity-three);
}

.btn-services {
	cursor: pointer;
}

.btn-services:active {
	color: var(--special-yellow);
}

/* header */

.wrapper {
	padding: 0 60px;
	padding-top: 20px;
	padding-bottom: 164px;

	background-image: linear-gradient(var(--basic-white) 40px, var(--special-yellow) 40px);
}

.main-header-logo {
	display: block;
	width: 163px;
	height: 35px;
	margin-bottom: 15px;
}

.main-user-navigation {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin-bottom: 34px;

	line-height: 20px;
}

.search {
	position: relative;

	display: flex;
	width: 440px;
	margin-right: 100px;
}

.search::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	display: block;
	width: 16px;
	height: 16px;

	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.search p {
	margin: 0;
}

.search input[type="search"] {
	width: 356px;
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 14px;
	padding-left: 40px;

	font: inherit;
	line-height: 20px;
	color: var(--basic-black-opasity-three);

	background-color: transparent;
	border: none;
	border-bottom: 2px solid transparent;
}

/*::-webkit-input-placeholder {
	color: var(--basic-black-opasity-three);
}*/

.search input[type="search"]:hover {
	color: var(--basic-black-opasity-six);
}

.search input[type="search"]:focus,
.search input[type="search"]:active {
	color: var(--basic-black);

	border-bottom: 2px solid var(--basic-black);
	outline: none;
}

.search button {
	padding: 12px 15px;

	font: inherit;
	line-height: 20px;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid var(--basic-black);

/*	visibility: hidden;*/
}

.search button:hover,
.search button:focus {
	color: var(--basic-white);

	background-color: var(--basic-black);
}

.search button:active {
	color: var(--basic-white-opasity-three);

	background-color: var(--basic-black);
}

.main-user {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 500px;
	margin: 0;
	padding: 0;
}


.main-user li:nth-child(2) {
	margin-left: auto;
	margin-right: 41px;
}

.main-user-item a {
	display: block;
}

.main-user-login {
	position: relative;

	padding-left: 25px;
}

.main-user-login::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 13px;
	height: 14px;

	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-user-compare {
	position: relative;

	padding-left: 25px;
}

.main-user-compare::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 13px;
	height: 14px;

	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-user-cart {
	position: relative;

	padding-left: 25px;
}

.main-user-cart::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 13px;
	height: 14px;

	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-navigation {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;
}

.main-menu-link {
	letter-spacing: 0.2em;
}

.main-menu {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}

.main-menu li:first-child {
	width: 240px;
	margin-right: 300px;
}

.main-menu li:nth-child(2) {
	margin-right: 36px;
}

.main-menu li:last-child {
	margin-left: auto;
}

.main-menu-item:first-child a {
	position: relative;

	letter-spacing: 0.1em;
}

.main-menu-item:first-child > a::after {
	position: absolute;
	content: "";
	top: 4px;
	right: -34px;

	width: 16px;
	height: 16px;

	background-image: url(../img/plus.svg);
	opacity: 0.3;
}

.sub-menu {
	display: none;
	margin: 0;
	padding: 0;

	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	font-family: "Open Sans", "Arial", sans-serif;
	text-transform: none;
}

.main-user,
.main-menu,
.sub-menu {
	list-style: none;
}

.main-user a,
.main-menu a,
.sub-menu a {
	color: var(--basic-black);
}

.main-user a:hover,
.main-user a:focus,
.main-menu a:hover,
.main-menu a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
	color: var(--basic-black-opasity-six);
}

.main-user a:active,
.main-menu a:active,
.sub-menu a:active {
	color: var(--basic-black-opasity-three);
}

/* promo */

.promo {
	margin-top: -146px;
	margin-bottom: 76px;
}

.promo .container {
	padding: 0 100px;
}

.promo-controls-wraper {
	position: relative;
	width: 478px;
}

.promo-controls-list {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-controls-item {
	display: inline-block;
}

.promo-slide{
	display: flex;
	justify-content: space-between;
}

.promo-slide-image {
	width: 440px;
	padding-top: 17px;

	text-align: center;
}

.image-monopods{
	width: 384px;
	height: 486px;
}

.promo-slide-text{
	position: relative;

	width: 500px;
}

.promo-slide-text::before{
	content: "";
	position: absolute;
	top: 51px;
	width: 100px;
	height: 7px;
	background-color: var(--basic-white);
}

.promo-slide-text::after{
	content: "";
	position: absolute;
	top: 23px;
	right: -9px;
	width: 182px;
	height: 170px;

	background-image: url("../img/01.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.promo-slide-title {
	margin: 0;
	margin-top: 110px;
	margin-bottom: 26px;

	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.promo-slide-description {
	width: 478px;
	margin: 0;
	margin-bottom: 51px;

	line-height: 20px;
}

.promo-slide-text a {
	display: block;
	margin-bottom: 50px;
}

.promo-slide-specifications {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 58px 16px;
	width: 448px;
	margin: 0;
	padding: 0;
}

.promo-slide-specifications dt {
	grid-row-start: 2;
	grid-row-end: 3;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
}

.promo-slide-specifications dd {
	grid-row-start: 1;
	grid-row-end: 2;
	margin: 0;

	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
}

.promo-slide-bracelet,
.promo-slide-quadcopter {
	display: none;
}

/* popular */

.popular {
	margin-bottom: 49px;
}

.popular-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	font-weight: 800;
	font-size: 18px;
	line-height:22px;
	font-family: "Gilroy", "Arial", sans-serif;

	list-style: none;
}

.popular-list h3{
	margin: 0;

	font-weight: 800;
	font-size: 18px;
}

.popular-list a {
	position: relative;

	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.popular-list a:active {
	color: var(--basic-black-opasity-three);
}

.popular-item {
	width: 160px;
}

/* services */

.services {
	margin-bottom: 90px;
	padding-top: 86px;

	background-image: linear-gradient(var(--basic-white) 115px, var(--basic-light-grey) 115px);
}

.services-slider {
	display: flex;
	justify-content: space-between;
}

.services-slider-controls ul {
	width: 277px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.services-slide h3 {
	margin: 0;
	margin-bottom: 40px;

	font-weight: 800;
	font-size:47px;
	line-height:58px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
}

.services-slide p {
	margin: 0;

	letter-spacing: 0.1em;
}

/* brands */

.brands {
	margin-bottom: 90px;
}

.brands-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.brands-list a {
	display: block;
	width: 260px;
	height: 100px;
}

.about-contacts-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}

/* about */

.about {
	width: 500px;
	padding-top: 50px;

}

.about h2 {
	margin: 0;
	margin-bottom: 50px;

	font-weight: 800;
	font-size:47px;
	line-height:58px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
}

.about p {
	margin: 0;
	margin-bottom: 50px;
}

.about-traffic {
	margin: 0;
	margin-bottom: 84px;
	padding: 0;

	font-weight: 800;
	font-size:16px;
	line-height:28px;
	font-family: "Gilroy", "Arial", sans-serif;

	list-style: none;
}

/* contacts */

.contacts {
	width: 560px;
	padding-top: 50px;

}

.contacts h2 {
	margin: 0;
	margin-bottom: 50px;

	font-weight: 800;
	font-size:47px;
	line-height:58px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
}

.contacts p {
	margin: 0;
	margin-bottom: 40px;
}

/*footer*/

.main-footer {
	padding-top: 64px;
	padding-bottom: 64px;

	color: var(--basic-white);

	background-color: var(--basic-dark);
}

.footer-user {
	display: flex;
	justify-content: space-between;
	min-height: 90px;
	padding-bottom: 39px;

	line-height: 20px;
	color: var(--basic-white-opasity-seven);
}

.footer-logo {
	align-self: flex-end;
	width: 163px;
	height: 35px;
}

.footer-user-navigation {
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-user-navigation li {
	margin-right: 45px;
}

.footer-user-navigation li:nth-child(3n) {
	margin-right: 0;
}

.footer-user-navigation a {
	color: var(--basic-white-opasity-seven);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
	color: var(--basic-white);
}

.footer-user-navigation a:active {
	color: var(--basic-white-opasity-three);
}

.footer-conditions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 39px;

	line-height: 20px;
}

.footer-adress {
	max-width: 260px;
	margin: 0;
	padding: 0;
}

.footer-site-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;

	list-style: none;
}

.footer-site-menu li {
/*	margin-right: 36px;*/
}

.footer-site-menu li:nth-child(3n) {
	padding-right: 0;
}

.footer-site-menu a {
	padding: 18px;

	letter-spacing: 0.2em;
	color: var(--basic-white);
}

.footer-site-menu a:hover,
.footer-site-menu a:focus {
	color: var(--basic-white-opasity-seven);
}

.footer-site-menu a:active {
	color: var(--basic-white-opasity-three)
}

.footer-contacts {
	max-width: 260px;
	padding: 18px;

	color: var(--basic-white);
}

.footer-social {
	display: flex;
	justify-content: space-between;

	line-height: 20px;
	color: var(--basic-white-opasity-seven);
}

.social-btn {
	display: flex;
	justify-content: space-between;
	width: 136px;
	margin: 0;
	margin-left: 510px;
	margin-right: auto;
	padding: 0;

	list-style: none;
}

.social-btn li {
	margin-right: 20px;
}

.social-btn li:nth-child(3) {
	margin-right: 0;
}

.social-btn a {
	color: var(--basic-white-opasity-seven);
}

.social-btn a:hover,
.social-btn a:focus {
	color: var(--basic-white);
}

.social-btn a:active {
	color: var(--basic-white-opasity-three);
}

.social-btn-link {
	display: flex;
	width: 32px;
	height: 32px;

	opacity: 0.3;
}

.social-btn-facebook {
	background-image: url(../img/fb.svg);
}

.social-btn-instagram {
	background-image: url(../img/instagram.svg);
}

.social-btn-twitter {
	background-image: url(../img/twitter.svg);
}

.social-btn-link:hover,
.social-btn-link:focus {
	opacity: 0.6;
}

.social-btn-link:active {
	opacity: 0.1;
}

.copyright {
	width: 27px;
	height: 34px;

	color: var(--basic-white);

	background-image: url(../img/logo-html.svg);
}

.copyright:hover,
.copyright:focus {
	opacity: 0.6;
}

.copyright:active {
	opacity: 0.1;
}

.copyright:hover,
.copyright:focus {
	color: var(--basic-white-opasity-seven);
}

.copyright:active {
	color: var(--basic-white-opasity-three);
}

/* modal-map */

.modal-map {
	display: none;
}

/* modal-feedback */

.modal-feedback {
	display: none;
}

.feedback-form {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opasity-four);

	background-color: var(--bg-input);
	border: none;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover {
	background-color: var(--bg-input-hover);
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus {
	color: var(--basic-dark);

	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
}

.feedback-form textarea {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opasity-four);

	background-color: var(--bg-input);
	border: none;
}

.feedback-form textarea:hover {
	background-color: var(--bg-input-hover);
}

.feedback-form textarea:focus {
	color: var(--basic-dark);

	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
}

/* catalog */

/* header */

.inner-page .main-header {
	margin-bottom: 44px;
}

.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
	opacity: 0.6;
}

.inner-page .main-header-logo:active {
	opacity: 0.3;
}

/* main */

.page-catalog .page-title {
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
}

/* breadcrumbs */

.page-catalog .breadcrumbs {
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black-opasity-three);

	list-style: none;
}

.breadcrumbs a {
	color: var(--basic-black-opasity-three);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: var(--basic-black-opasity-six);
}

.breadcrumbs a:active {
	color: var(--basic-black-opasity-one);
}

.sort-wraper {
	background-image: linear-gradient(to right, var(--basic-half-grey) 0, var(--basic-half-grey) 32%, var(--basic-light-grey) 32%, var(--basic-light-grey) 100%);
}

.sort-wraper .container {
	display: grid;
	grid-template-columns: 328px 1fr;
	align-content: start;
}

/* filters-header */

.filters-header h2 {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* sort */

.sort {
	display: flex;
}

.sort h2 {
	margin: 0;

	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.sort-list {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black-opasity-three);

	list-style: none;
}

.sort-list a {
	color: var(--basic-black-opasity-three);
}

.sort-list a:hover,
.sort-list a:focus {
	color: var(--basic-black-opasity-six);
}

.sort-list a:active {
	color: var(--basic-black);
}

.sort-item-current {
	color: var(--basic-black);
}

.sort-price {
	list-style: none;
}

.filters-product-wraper {
	background-image: linear-gradient(to right, var(--basic-light-grey) 0, var(--basic-light-grey) 32%, var(--basic-white) 32%, var(--basic-white) 100%);
}

.filters-product-wraper .container {
	display: grid;
	grid-template-columns: 328px 1fr;
	align-content: start;
}

/* filters */

.filter-title {
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
}

.filter ul {
	font-size: 14px;
	line-height: 19px;

	list-style: none;
}

/* product */

.product {
	padding-top: 70px;
	padding-left: 72px;
}

.product-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.product-card {
	width: 360px;
}

.product-card h3 {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.05em;
}

.product-card a {
	color: var(--basic-black);
}

.product-card span {
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.05em;
}

a.product-card-link {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: var(--basic-black-opasity-five);
}

a.product-card-link:hover,
a.product-card-link:focus {
	color: var(--basic-black);
}

a.product-card-link:active {
	color: var(--basic-black-opasity-two);
}

.pagination-list {
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opasity-three);
	text-transform: uppercase;

	list-style: none;
	background-color: var(--bg-pagination);
}

.pagination-list a {
	letter-spacing: 0.1em;
	color: var(--basic-black-opasity-three);
}

a.pagination-item-current,
a.pagination-item-back,
a.pagination-item-forward {
	color: var(--basic-black);
}

a.pagination-item-back:hover,
a.pagination-item-back:focus,
a.pagination-item-forward:hover,
a.pagination-item-forward:focus {
	background-color: var(--bg-pagination-hover);
}

a.pagination-item-back:active,
a.pagination-item-forward:active {
	color: var(--basic-black-opasity-three);
}

a.pagination-item-back:disabled,
a.pagination-item-forward:disabled {
	background-color: none;
}
