/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
	--basic-black: #000000;
	--basic-black-opacity-six: rgba(0, 0, 0, 0.6);
	--basic-black-opacity-five: rgba(0, 0, 0, 0.5);
	--basic-black-opacity-four: rgba(0, 0, 0, 0.4);
	--basic-black-opacity-three: rgba(0, 0, 0, 0.3);
	--basic-black-opacity-two: rgba(0, 0, 0, 0.2);
	--basic-black-opacity-one: rgba(0, 0, 0, 0.1);
	--basic-dark: #363636;
	--basic-grey: #464646;
	--basic-dark-grey: #7e7e7e;
	--basic-half-grey: #dcdcdc;
	--basic-light-grey: #e5e5e5;
	--basic-white: #ffffff;
	--basic-white-opacity-seven: rgba(255, 255, 255, 0.7);
	--basic-white-opacity-three: rgba(255, 255, 255, 0.3);
	--bg-input: #f2f2f2;
	--bg-input-hover: #eaeaea;
	--bg-pagination: #ebebeb;
	--bg-pagination-hover: #d9d9d9;
	--special-yellow: #f7e296;
	--special-dark-yellow: #f0c52e;
	--special-green: #91c92f;
	--special-pink: #f6dada;
	--toggle: #c4c4c4;
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: 
		local("Gilroy-Extrabold"),
		url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
		url("../fonts/Gilroy-Extrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: 
		local("Gilroy-Light"),
		url("../fonts/Gilroy-Light.woff2") format("woff2"),
		url("../fonts/Gilroy-Light.woff") format("woff");
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	font-family: "Open Sans", "Arial", sans-serif;
	color: var(--basic-black);

	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
		clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Grid */

.page {
	height: 100%;
}

.page-body {
	display: grid;
	grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

	min-height: 100%;
}

/* button */

.btn {
	position: relative;
	z-index: 1;

	width: 220px;
	padding: 7px 0;

	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
	color: var(--basic-black);
	text-transform: uppercase;
	text-align: center;

	background: none;
	border: none;
}

.btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	z-index: -1;

	width: 100%;
	height: 8px;

	background-color: var(--special-dark-yellow);
}

.btn:hover::before,
.btn:focus::before {
	height: 40px;
}

.btn:active {
	color: var(--basic-black-opacity-three);
}

.btn-services {
	width: 160px;

	cursor: pointer;
	outline: none;
}

.btn-services:active {
	color: var(--special-yellow);
}

.btn-services.current {
	position: relative;

	color: var(--special-yellow);
}

.btn-services.current::before {
	content: "";
	position: absolute;

	width: 284px;
	height: 40px;

	background: var(--basic-black);
}

.btn-services:active::before {
	content: "";
	position: absolute;

	width: 284px;
	height: 40px;

	background: var(--basic-black);
}

.btn-filter {
	width: 200px;
}

.btn-product-card {
	width: 200px;
	margin-bottom: 16px;
}

.about-btn {
	padding-left: 24px;
	padding-right: 18px;
}

.contacts-btn {
	width: 260px;
	margin-top: auto;
	padding-left: 38px;
	padding-right: 38px;
}

/* header */

.wrapper {
	position: relative;
	padding: 0 60px;
	padding-top: 20px;
	padding-bottom: 164px;

	background-image: linear-gradient(var(--basic-white) 40px, var(--special-yellow) 40px);
}

.main-header-logo {
	display: block;
	width: 163px;
	height: 35px;
	margin-bottom: 15px;
}

.main-user-navigation {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin-bottom: 34px;

	line-height: 20px;
}

.search {
	position: relative;

	display: flex;
	width: 440px;
	margin-right: 100px;
}

.search::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	display: block;
	width: 16px;
	height: 16px;

	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.search p {
	margin: 0;
}

.search input[type="search"] {
	position: relative;

	width: 356px;
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 14px;
	padding-left: 38px;

	font: inherit;
	line-height: 20px;
	color: var(--basic-black-opacity-three);

	background-color: transparent;
	border: none;
	border-bottom: 2px solid transparent;
}

.search input[type="search"]::-ms-clear {
	width: 0;
	height: 0;
}

.search input[type='search']::-webkit-search-decoration,
.search input[type='search']::-webkit-search-cancel-button,
.search input[type='search']::-webkit-search-results-button,
.search input[type='search']::-webkit-search-results-decoration {
	display: none;
}

.search input[type="search"]::-webkit-input-placeholder {
	color: var(--basic-black-opacity-three);
}

.search input[type="search"]::-ms-input-placeholder {
	color: var(--basic-black-opacity-three);
}

.search input[type="search"]::-moz-placeholder {
	color: var(--basic-black-opacity-three);
}

.search input[type="search"]:hover::-webkit-input-placeholder {
	color: var(--basic-black-opacity-six);
}

.search input[type="search"]:hover::-ms-input-placeholder {
	color: var(--basic-black-opacity-six);
}

.search input[type="search"]:hover::-moz-placeholder {
	color: var(--basic-black-opacity-six);
}

.search input[type="search"]:focus,
.search input[type="search"]:active {
	color: var(--basic-black);

	border-bottom: 2px solid var(--basic-black);
	outline: none;
}

.search button {
	opacity: 0;
	padding: 12px 15px;

	font: inherit;
	line-height: 20px;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid var(--basic-black);
}

.search button:hover,
.search button:focus {
	color: var(--basic-white);

	background-color: var(--basic-black);
	opacity: 1;
}

.search button:active {
	color: var(--basic-white-opacity-three);

	background-color: var(--basic-black);
}

.search input[type="search"]:focus ~ button[type="submit"] {
	opacity: 1;
}

.main-user {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin: 0;
	padding: 0;
}

.main-user li:nth-child(2) {
	margin-left: auto;
	margin-right: 41px;
}

.main-user-item a {
	display: block;
}

.main-page .main-user-login {
	position: relative;

	padding-left: 24px;
}

.main-page .main-user-login::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 13px;
	height: 14px;

	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-page .main-user-login:hover::before {
	opacity: 0.6;
}

.main-page .main-user-login:focus::before {
	opacity: 0.6;
}

.main-page .main-user-login:active::before {
	opacity: 0.3;
}

.main-user-compare {
	position: relative;

	padding-left: 26px;
}

.main-user-compare::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 13px;
	height: 14px;

	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-user-compare:hover::before {
	opacity: 0.6;
}

.main-user-compare:focus::before {
	opacity: 0.6;
}

.main-user-compare:active::before {
	opacity: 0.3;
}

.main-user-cart {
	position: relative;

	padding-left: 24px;
}

.main-user-cart::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 13px;
	height: 14px;

	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-user-cart:hover::before {
	opacity: 0.6;
}

.main-user-cart:focus::before {
	opacity: 0.6;
}

.main-user-cart:active::before {
	opacity: 0.3;
}

.main-navigation {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;
}

.main-menu-link {
	letter-spacing: 0.2em;
}

.main-menu {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}

.main-menu li:first-child {
	width: 240px;
	margin-right: 300px;
}

.main-menu li:nth-child(2) {
	margin-right: 36px;
}

.main-menu li:last-child {
	margin-left: auto;
	margin-right: -4px;
}

.main-menu-item:first-child > a {
	position: relative;

	letter-spacing: 0.1em;
}

.main-menu-item:first-child > a::after {
	position: absolute;
	content: "";
	top: 4px;
	right: -34px;

	width: 16px;
	height: 16px;

	background-image: url(../img/plus.svg);
	opacity: 0.3;
}

.sub-menu-wrapper {
	position: absolute;
	top: 176px;
	left: 0;
	z-index: 10;

	display: none;
	flex-wrap: wrap;
	justify-content: start;
	width: 1160px;
	margin: 0;
	padding: 0;
	padding-right: 60px;
	padding-bottom: 28px;
	padding-left: 60px;

	background-color: var(--special-yellow);
}

.sub-menu {
	margin: 0;
	padding: 0;

	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	font-family: "Open Sans", "Arial", sans-serif;
	text-transform: none;
}

.column {
	padding-top: 28px;
	margin-right: 20px;
}

.column-1 {
	width: 220px;
}

.column-2 {
	width: 165px;
}

.column-3 {
	width: 200px;
}

.sub-menu-item {
	margin-bottom: 16px;
}

.sub-menu-link {
	letter-spacing: 0;
}

.main-user,
.main-menu,
.sub-menu {
	list-style: none;
}

.main-user a,
.main-menu a,
.sub-menu a {
	color: var(--basic-black);
}

.main-user a:hover,
.main-user a:focus,
.main-menu a:hover,
.main-menu a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
	color: var(--basic-black-opacity-six);
}

.main-user a:active,
.main-menu a:active,
.sub-menu a:active {
	color: var(--basic-black-opacity-three);
}

.main-menu-item:nth-child(1):hover .sub-menu-wrapper {
	display: flex;
}

/* promo */

.promo {
	margin-top: -146px;
	margin-bottom: 36px;
}

.promo-slider {
	position: relative;
}

.promo-controls-list {
	position: absolute;
	bottom: 160px;
	right: 88px;
	z-index: 4;

	display: flex;
	justify-content: space-between;
	width: 72px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-controls-item button {
	padding: 0;
	width: 12px;
	height: 12px;

	background-color: transparent;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	cursor: pointer;
}

.promo-controls-item .current {
	background-image: url(../img/button-current.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.promo-slides {
	counter-reset: item;

	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-slides li {
	margin: 0;
	padding: 0;
}

.promo-slides li::before {
	position: absolute;
	counter-increment: item;
	content: counter(item);
	right: 53px;

	font-weight: 800;
	font-size: 179px;
	line-height: 219px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-white);
	text-transform: uppercase;
}

.promo-slides li:nth-child(1)::before {
	content: "01";
	right: 47px;
}

.promo-slides li:nth-child(2)::before {
	content: "02";
	right: 54px;
}

.promo-slides li:nth-child(3)::before {
	content: "03";
}

.promo-slide {
	display: none;
	min-height: 536px;
}

.promo-slide-current {
	display: block;
}

.slide-wrapper {
	display: flex;
	justify-content: space-between;
}

.promo-slide-image {
	width: 560px;

	text-align: center;
}

.promo-slide-monopods .promo-slide-image {
	padding-top: 17px;
}

.promo-slide-bracelet .promo-slide-image {
	padding-top: 43px;
}

.promo-slide-quadcopter .promo-slide-image {
	padding-top: 100px;
}

.image-monopods{
	width: 384px;
	height: 486px;
}

.image-bracelet {
	width: 345px;
	height: 483px;
	margin-left: 18px;
}

.image-quadcopter {
	width: 526px;
	height: 334px;
	margin-left: 28px;
}

.promo-slide-text {
	position: relative;

	width: 560px;
}

.promo-slide-text::before{
	content: "";
	position: absolute;
	top: 51px;
	width: 100px;
	height: 7px;
	background-color: var(--basic-white);
}

.promo-slide-title {
	margin: 0;
	margin-top: 110px;
	margin-bottom: 26px;

	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.promo-slide-description {
	width: 500px;
	margin: 0;
	margin-bottom: 53px;

	line-height: 20px;
}

.promo-slide-text a {
	display: block;
	margin-bottom: 51px;
}

.promo-slide-specifications {
	display: flex;
}

.promo-slide-specifications dl{
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-right: 62px;
	padding: 0;
}

.promo-slide-quadcopter dl{
	margin-right: 27px;
}

.promo-slide-specifications dl:last-child{
	margin: 0;
}

.promo-slide-specifications dt {
	order: 2;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
}

.materials{
	padding-left: 4px;
}

.promo-slide-specifications dd {
	margin: 0;
	margin-bottom: 16px;

	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
}

/* popular */

.popular-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	font-weight: 800;
	font-size: 18px;
	line-height:22px;
	font-family: "Gilroy", "Arial", sans-serif;

	list-style: none;
}

.popular-list h3{
	margin: 0;
	padding-top: 38px;

	font-weight: 800;
	font-size: 18px;
}

.popular-list a {
	position: relative;

	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.popular-list li:nth-child(6n) {
	margin-right: 0;
}

.popular-item:nth-child(4) > a {
	letter-spacing: 0;
}

.popular-item {
	width: 160px;
	margin-right: 40px;
	padding-top: 50px;
}

.popular-img {
	position: relative;

	width: 160px;
	height: 160px;

	background-color: var(--special-yellow);
}

.popular-img svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popular-item:nth-child(2) .popular-svg {
	top: 85px;
}

.popular-link:hover > .popular-img{
	background-color: var(--special-dark-yellow);
}

.popular-link:focus > .popular-img{
	background-color: var(--special-dark-yellow);
}

.popular-link:active .popular-svg {
	opacity: 0.3;
}

.popular-link:active > h3 {
	opacity: 0.3;
}

/* services */

.services {
	min-height: 385px;
	margin-bottom: 45px;
	padding-top: 84px;
	padding-bottom: 68px;

	background-image: linear-gradient(var(--basic-white) 184px, var(--basic-light-grey) 184px);
}

.services-slider {
	display: flex;
}

.services-list {
	display: flex;
	flex-direction: column;
	min-width: 284px;
	min-height: 320px;
	margin: 0;
	padding: 0;

	border-right: 7px solid var(--basic-black);
	list-style: none;
}

.services-list li:nth-child(1) {
	margin-top: 82px;
}

.services-item {
	width: 100%;
	margin: 13px 0;
	padding: 0;
}

.services-slide {
	display: none;
}

.services-slides .current {
	display: block;
}

.services-slides {
	padding-top: 71px;
	padding-left: 116px;
}

.services-slide h3 {
	margin: 0;
	margin-bottom: 40px;

	font-weight: 800;
	font-size:47px;
	line-height:58px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
}

.services-slide p {
	width: 574px;
	margin: 0;

	letter-spacing: 0.1em;
}

.services-slide-delivery p {
	padding-right: 40px;
}

.services-slide-delivery {
	position: relative;
}

.services-slide-delivery::before {
	content: "";
	position: absolute;
	right: -184px;

	width: 136px;
	height: 164px;

	background-image: url("../img/delivery.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.services-slide-warranty {
	position: relative;
}

.services-slide-warranty::before {
	content: "";
	position: absolute;
	top: -18px;
	right: -202px;

	width: 171px;
	height: 195px;

	background-image: url("../img/warranty.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.services-slide-credit {
	position: relative;
}

.services-slide-credit::before {
	content: "";
	position: absolute;
	top: -23px;
	right: -178px;

	width: 156px;
	height: 188px;

	background-image: url("../img/credit.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

/* brands */

.brands {
	margin-bottom: 90px;
}

.brands-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.brands-list li {
	margin-right: 40px;
	padding-top: 45px;
}

.brands-list li:nth-child(4) {
	margin-right: 0;
}

.brands-list a {
	position: relative;

	display: block;
	width: 260px;
	height: 100px;
}

a.brands-dji::before {
	content: "";
	position: absolute;

	display: none;
	width: 260px;
	height: 100px;

	background-image: url("../img/logo-1-color.png");
	background-repeat: no-repeat;
	background-position: center center;
}

a.brands-dji:hover::before {
	display: block;
}

a.brands-sp-gadgets::before {
	content: "";
	position: absolute;

	display: none;
	width: 260px;
	height: 100px;

	background-image: url("../img/logo-2-color.png");
	background-repeat: no-repeat;
	background-position: center center;
}

a.brands-sp-gadgets:hover::before {
	display: block;
}

a.brands-gopro::before {
	content: "";
	position: absolute;

	display: none;
	width: 260px;
	height: 100px;

	background-image: url("../img/logo-3-color.png");
	background-repeat: no-repeat;
	background-position: center center;
}

a.brands-gopro:hover::before {
	display: block;
}

a.brands-vive::before {
	content: "";
	position: absolute;

	display: none;
	width: 260px;
	height: 100px;

	background-image: url("../img/logo-4-color.png");
	background-repeat: no-repeat;
	background-position: center center;
}

a.brands-vive:hover::before {
	display: block;
}

/* about */

.about-contacts-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 79px;
}

.about {
	position: relative;

	width: 500px;
	padding-top: 57px;
}

.about::before{
	content: "";
	position: absolute;
	top: 0;
	width: 80px;
	height: 7px;
	background-color: var(--basic-black);
}

.about h2 {
	margin: 0;
	margin-bottom: 41px;

	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
}

.about p {
	margin: 0;
	margin-bottom: 38px;
	margin-right: 22px;
}

.about-traffic {
	margin: 0;
	margin-top: 61px;
	margin-bottom: 74px;
	padding: 0;

	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
	font-family: "Gilroy", "Arial", sans-serif;

	list-style: none;
}

.about-traffic li {
	position: relative;

	margin-bottom: 15px;
	padding-left: 32px;
}

.about-traffic li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);

	width: 8px;
	height: 8px;

	background-color: var(--basic-wight);
	border: 2px solid var(--basic-light-grey);
	border-radius: 50%;
}

/* contacts */

.contacts {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 560px;
	padding-top: 60px;
}

.contacts::before{
	content: "";
	position: absolute;
	top: 0;

	width: 80px;
	height: 7px;

	background-color: var(--basic-black);
}

.contacts h2 {
	margin: 0;
	margin-bottom: 38px;

	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.2em;
}

.contacts p {
	margin: 0;
	margin-bottom: 40px;
}

.map-btn {
	margin-bottom: 69px;
}

/*footer*/

.main-footer {
	padding-top: 46px;
	padding-bottom: 44px;

	color: var(--basic-white);

	background-color: var(--basic-dark);
}

.footer-user {
	display: flex;
	justify-content: space-between;
	min-height: 52px;
	margin-bottom: 40px;

	line-height: 20px;
	color: var(--basic-white-opacity-seven);
}

.footer-logo {
	align-self: flex-end;
	width: 163px;
	height: 35px;
}

.footer-user-navigation {
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	width: 325px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-user-navigation a {
	color: var(--basic-white-opacity-seven);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
	color: var(--basic-white);
}

.footer-user-navigation a:active {
	color: var(--basic-white-opacity-three);
}

.main-page .footer-user-navigation-login {
	position: relative;

	padding-left: 24px;
}

.main-page .footer-user-navigation-login::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;

	width: 13px;
	height: 14px;

	background-image: url("../img/user-yellow.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-user-navigation-login:hover::before {
	opacity: 0.6;
}

.footer-user-navigation-login:focus::before {
	opacity: 0.6;
}

.footer-user-navigation-login:active::before {
	opacity: 0.3;
}

.footer-user-navigation-compare {
	position: relative;

	padding-left: 26px;
}

.footer-user-navigation-compare::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;

	width: 13px;
	height: 14px;

	background-image: url("../img/compare-yellow.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-user-navigation-compare:hover::before {
	opacity: 0.6;
}

.footer-user-navigation-compare:focus::before {
	opacity: 0.6;
}

.footer-user-navigation-compare:active::before {
	opacity: 0.3;
}

.footer-user-navigation-cart {
	position: relative;

	padding-left: 24px;
}

.footer-user-navigation-cart::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;

	width: 13px;
	height: 14px;

	background-image: url("../img/cart-yellow.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-user-navigation-cart:hover::before {
	opacity: 0.6;
}

.footer-user-navigation-cart:focus::before {
	opacity: 0.6;
}

.footer-user-navigation-cart:active::before {
	opacity: 0.3;
}

.footer-conditions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 67px;

	line-height: 20px;
}

.footer-adress {
	min-width: 260px;
	margin: 0;
	padding: 0;
}

.footer-site-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 428px;
	margin: 0;
	padding: 0;

	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;

	list-style: none;
}

.footer-site-menu a {
	display: block;

	letter-spacing: 0.2em;
	color: var(--basic-white);
}

.footer-site-menu a:hover,
.footer-site-menu a:focus {
	color: var(--basic-white-opacity-seven);
}

.footer-site-menu a:active {
	color: var(--basic-white-opacity-three)
}

.footer-contacts {
	min-width: 260px;

	text-align: right;

	color: var(--basic-white);
}

.footer-social {
	position: relative;

	display: flex;

	line-height: 20px;
	color: var(--basic-white-opacity-seven);
}

.footer-social::before{
	content: "";
	position: absolute;
	top: 13px;
	left: 0;

	width: 80px;
	height: 7px;

	background-color: var(--basic-white);
	background-color: #FFC600;
}

.social-btn {
	display: flex;
	flex-wrap: wrap;
	width: 136px;
	margin: 0;
	margin-left: 512px;
	margin-right: auto;
	padding: 0;

	list-style: none;
}

.social-btn li {
	margin-right: 20px;
	margin-bottom: 20px;
}

.social-btn li:nth-child(3n) {
	margin-right: 0;
}

.social-btn a {
	color: var(--basic-white-opacity-seven);
}

.social-btn a:hover,
.social-btn a:focus {
	color: var(--basic-white);
	opacity: 0.6;
}

.social-btn a:active {
	color: var(--basic-white-opacity-three);
	opacity: 0.1;
}

.social-btn-link {
	display: flex;
	width: 32px;
	height: 32px;

	opacity: 0.3;
}

.social-btn-facebook {
	background-image: url(../img/fb.svg);
}

.social-btn-instagram {
	background-image: url(../img/instagram.svg);
}

.social-btn-twitter {
	background-image: url(../img/twitter.svg);
}

.social-btn-link:hover,
.social-btn-link:focus {
	opacity: 0.6;
}

.social-btn-link:active {
	opacity: 0.1;
}

.copyright {
	width: 27px;
	height: 34px;

	color: var(--basic-white);

	background-image: url(../img/logo-html.svg);
}

.copyright:hover,
.copyright:focus {
	opacity: 0.6;
}

.copyright:active {
	opacity: 0.1;
}

.copyright:hover,
.copyright:focus {
	color: var(--basic-white-opacity-seven);
}

.copyright:active {
	color: var(--basic-white-opacity-three);
}

/* modal */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;
	width: 960px;
	height: 550px;
	margin: auto;

	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-show {
	display: block;
	-webkit-animation: bounce 0.6s;
		animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
		animation: shake 0.6s;
}

/* modal close */

.modal-close {
	position: absolute;
	z-index: 3;
	top: 20px;
	right: 20px;

	width: 55px;
	height: 55px;
	margin: 0;
	padding: 0;

	background-color: var(--special-dark-yellow);
	border: 0;
	border-radius: 50%;
	opacity: 0.5;
	cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}

.modal-close::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: block;
	width: 30px;
	height: 30px;

	background-image: url(../img/modal-close.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

/* animations */

@-webkit-keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	30% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	30% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

/* modal-map */

.modal-map {
	top: 120px;
	bottom: auto;
	z-index: 5;
}

.modal-map iframe {
	border: none;
}

.modal-map img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	margin: 0;
}

/* modal-feedback */

.modal-feedback {
	top: 120px;
	bottom: auto;
	z-index: 5;

	padding: 92px 100px 76px 100px;

	background-color: var(--basic-white);
}

.feedback-form {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.feedback-wrapper {
	display: flex;
	justify-content: space-between;
}

.feedback-item {
	margin: 0;
	margin-bottom: 33px;
}

.feedback-form label,
.feedback-form input,
.feedback-form textarea {
	display: block;
}

.feedback-form label {
	margin-bottom: 10px;
}

.feedback-wrapper label,
.feedback-wrapper input {
	width: 360px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	padding: 13px 20px;

	background-color: var(--bg-input);
	border: none;
	border: 2px solid transparent;
}

.feedback-form input[type="text"]::-webkit-input-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form input[type="text"]::-ms-input-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form input[type="text"]::-moz-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form input[type="email"]::-webkit-input-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form input[type="email"]::-ms-input-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form input[type="email"]::-moz-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover {
	background-color: var(--bg-input-hover);
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus {
	color: var(--basic-dark);

	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
	outline: none;
}

.feedback-form textarea {
	width: 760px;
	min-height: 167px;
	margin-bottom: 44px;
	padding: 15px 20px;

	background-color: var(--bg-input);
	border: none;
	border: 2px solid transparent;
	resize: none;
}

.feedback-form textarea::-webkit-input-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form textarea::-ms-input-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form textarea::-moz-placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-four);
}

.feedback-form textarea:hover {
	background-color: var(--bg-input-hover);
}

.feedback-form textarea:focus {
	color: var(--basic-dark);

	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
	outline: none;
}

.feedback-form textarea.invalid,
.feedback-form input.invalid {
	color: var(--basic-black-opasity-four);

	background-color: var(--special-pink);
}

.feedback-form button {
	width: 200px;
	padding: 9px 35px;
}

/* catalog */

/* header */

.inner-page .main-header {
	margin-bottom: 44px;
}

.inner-page .wrapper {
	padding-bottom: 50px;
}

.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
	opacity: 0.6;
}

.inner-page .main-header-logo:active {
	opacity: 0.3;
}

.inner-page .main-user li:nth-child(2) {
	margin: 0;
	padding: 0;
}

.inner-page .main-user li:nth-child(3) {
	margin-left: auto;
	margin-right: 41px;
}

.main-user-account {
	position: relative;

	margin-right: 19px;
	padding-left: 24px;
}

.main-user-account::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;

	width: 13px;
	height: 14px;

	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.main-user-account:hover::before {
	opacity: 0.6;
}

.main-user-account:focus::before {
	opacity: 0.6;
}

.main-user-account:active::before {
	opacity: 0.3;
}

.inner-page .main-user-login {
	color: var(--basic-black-opacity-three);
}

/* main */

.page-catalog .page-title {
	margin: 0;
	margin-bottom: 30px;
	padding: 0 60px;

	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
}

/* breadcrumbs */

.breadcrumbs-wraper {
	margin-bottom: 50px;
}

.page-catalog .breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0 60px;

	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black-opacity-three);

	list-style: none;
}

.breadcrumbs li {
	position: relative;
	padding-right: 40px;
}

.breadcrumbs-item:not(:last-child) a::after {
	content: "";
	position: absolute;
	top: 6px;
	right: 15px;

	width: 8px;
	height: 8px;

	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.breadcrumbs a {
	color: var(--basic-black-opacity-three);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: var(--basic-black-opacity-six);
}

.breadcrumbs a:active {
	color: var(--basic-black-opacity-one);
}

/* sort-wraper */

.sort-wraper {
	background-image: linear-gradient(to right, var(--basic-half-grey) 0, var(--basic-half-grey) 50%, var(--basic-light-grey) 50%, var(--basic-light-grey) 100%);
}

.sort-wraper .container {
	display: grid;
	grid-template-columns: 328px 1fr;
	align-content: start;
}

/* filters-header */

.filters-header {
	width: 330px;
	background-color: var(--basic-half-grey); 
}

.filters-header h2 {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 60px;

	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* sort */

.sort {
	display: flex;

	padding-left: 72px;

	background-color: var(--basic-light-grey);
}

.sort-price {
	margin: 0;
}

.sort h2 {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 25px;

	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin: 0;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 73px;

	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black-opacity-three);

	list-style: none;
}

.sort-list li {
	padding-right: 30px;
}

.sort-list a {
	color: var(--basic-black-opacity-three);
}

.sort-list a:hover,
.sort-list a:focus {
	color: var(--basic-black-opacity-six);
}

.sort-list a:active {
	color: var(--basic-black);
}

.sort-item-current {
	color: var(--basic-black);
}

.sort-price {
	padding: 0;
	list-style: none;
}

.sort-min {
	position: relative;
}

.sort-min a::after {
	content: "";
	position: absolute;
	top: 30px;
	right: -95px;

	width: 10px;
	height: 10px;

	background-image: url(../img/icon-dir.svg);
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.2;
}

.sort-min a:hover::after {
	opacity: 0.4;
}

.sort-min a:focus::after {
	opacity: 0.4;
}

.sort-min a:active::after {
	opacity: 1;
}

.sort-min-current a::after {
	opacity: 1;
}

.sort-max {
	position: relative;
}

.sort-max a::after {
	content: "";
	position: absolute;
	top: 30px;
	right: -128px;

	width: 10px;
	height: 10px;

	background-image: url(../img/icon-dir.svg);
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotate(180deg);
	opacity: 0.2;
}

.sort-max a:hover::after {
	opacity: 0.4;
}

.sort-max a:focus::after {
	opacity: 0.4;
}

.sort-max a:active::after {
	opacity: 1;
}

.sort-max-current a::after {
	opacity: 1;
}

.filters-product-wraper {
	background-image: linear-gradient(to right, var(--basic-light-grey) 0, var(--basic-light-grey) 50%, var(--basic-white) 50%, var(--basic-white) 100%);
}

.filters-product-wraper .container {
	display: grid;
	grid-template-columns: 328px 1fr;
	align-content: start;
}

/* filters */

.filters {
	width: 330px;
	padding-top: 86px;
	padding-left: 60px;

	background-color: var(--basic-light-grey);
}

.filter-item {
	margin: 0;
	padding: 0;

	border: none;
}

.range-filter {
	width: 200px;
	margin-bottom: 49px;
}

.filter-item legend {
	position: relative;

	margin-bottom: 32px;

	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.1em;
}

legend.cost {
	margin-bottom: 30px;
}

.filter-item legend::before{
	content: "";
	position: absolute;
	top: -16px;

	width: 200px;
	height: 2px;

	background-color: var(--basic-black);
}

.range-controls {
	position: relative;

	height: 21px;
	padding-top: 9px;
}

.range-controls .scale {
	height: 2px;

	background: var(--basic-black-opacity-two);
}

.range-controls .bar {
	width: 65%;
	height: 2px;

	background: var(--special-green);
}

.range-controls .toggle {
	position: absolute;
	top: 0;

	width: 20px;
	height: 20px;
	padding: 0;

	background-color: var(--toggle);
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
	cursor: pointer;
}

.range-controls .toggle-max {
	left: 114px;
}

.price-controls label {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.price-controls input {
	width: 60px;
	margin-right: 16px;
	padding: 0;

	font-size: inherit;
	font-family: inherit;

	background: transparent;
	border: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

.filter ul {
	font-size: 14px;
	line-height: 19px;

	list-style: none;
}

.filter-color {
	margin: 0;
	margin-bottom: 56px;
	padding: 0;
}

.filter-color li {
	margin-bottom: 20px;
	padding-left: 42px;
}

.filter-color label {
	position: relative;

	display: block;

	cursor: pointer;
	-webkit-user-select: none;
		-moz-user-select: none;
			user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -42px;
	transform: translateY(-50%);

	width: 24px;
	height: 24px;

	border: 2px solid var(--basic-black);
	border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -37px;

	width: 24px;
	height: 24px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after {
	opacity: 0.6;
}

.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:checked + label:focus::after {
	opacity: 0.6;
}

.filter-input-checkbox + label:active::before,
.filter-input-checkbox:checked + label:active::after {
	opacity: 1;
}

input[type="checkbox"]:disabled + label,
input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label::after,
input[type="checkbox"]:disabled + label:hover::after,
input[type="checkbox"]:disabled + label:active::after {
	opacity: 0.5;
	cursor: default;
}

.connection {
	margin: 0;
	margin-bottom: 47px;
	padding: 0;
}

.connection li {
	margin-bottom: 20px;
	padding-left: 42px;
}

.connection label {
	position: relative;

	display: block;

	cursor: pointer;
	-webkit-user-select: none;
		-moz-user-select: none;
			user-select: none;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -42px;
	transform: translateY(-50%);

	width: 24px;
	height: 24px;

	border: 2px solid var(--basic-black);
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 6px;
	left: -34px;

	width: 8px;
	height: 8px;

	background: var(--basic-black);
	border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
	opacity: 0.6;
}

.filter-input-radio + label:focus::before,
.filter-input-radio:checked + label:focus::after {
	opacity: 0.6;
}

.filter-input-radio + label:active::before,
.filter-input-radio:checked + label:active::after {
	opacity: 0.6;
}

input[type="radio"]:disabled + label,
input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label:hover::after,
input[type="radio"]:disabled + label::after {
	opacity: 0.5;
	cursor: default;
}

/* product */

.product {
	width: 830px;
	padding-top: 46px;
	padding-left: 72px;

	background-color: var(--basic-white);
}

.product-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.product-item {
	margin-top: 24px;
	margin-bottom: 24px;
}

.product-card {
	position: relative;

	width: 360px;
}

.product-hover-wrapper:hover .hover-links{
	display: flex;
}

.product-hover-wrapper:hover > .product-img {
	opacity: 0.7;
}

.product-new {
	position: relative;
}

.product-new::before {
	content: "new";
	position: absolute;
	top: 29px;
	right: 25px;
	z-index: 3;

	width: 62px;
	height: 62px;
	padding: 21px 0;

	font-weight: 800;
	font-size: 12px;
	line-height: 15px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-three);
	text-transform: uppercase;
	text-align: center;

	border: 2px solid var(--basic-black-opacity-three);
	border-radius: 50%;
}

.product-img {
	width: 360px;
	height: 380px;
	margin: 0;
	-o-object-fit: contain;
	   object-fit: contain;
}

.product-card h3 {
	width: 300px;
	margin: 0;
	padding-left: 2px;

	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.05em;
}

.product-info-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 22px;
}

.product-card a {
	color: var(--basic-black);
}

.product-card span {
	width: 85px;
	margin-right: -4px;

	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

.hover-links {
	position: absolute;
	z-index: 2;
	top: 173px;
	left: 50%;
	transform: translateX(-50%);

	display: none;
	flex-wrap: wrap;
	justify-content: center;
	width: 360px;
}

a.product-card-link {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: var(--basic-black-opacity-five);
}

a.product-card-link:hover,
a.product-card-link:focus {
	color: var(--basic-black);
}

a.product-card-link:active {
	color: var(--basic-black-opacity-two);
}

/*pagination-list*/

.pagination-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	margin-top: 16px;
	margin-bottom: 78px;
	padding: 0;

	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: var(--basic-black-opacity-three);
	text-transform: uppercase;

	list-style: none;
	background-color: var(--bg-pagination);
}

.pagination-list-sub {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	margin-left: 10px;
	padding: 0;

	list-style: none;
}

.pagination-list a {
	display: block;
	padding: 25px 30px;

	letter-spacing: 0.1em;
	color: var(--basic-black-opacity-three);
}

a.pagination-item-current,
a.pagination-item-back,
a.pagination-item-forward {
	color: var(--basic-black);
}

a.pagination-item-back:hover,
a.pagination-item-back:focus,
a.pagination-item-forward:hover,
a.pagination-item-forward:focus {
	background-color: var(--bg-pagination-hover);
}

a.pagination-item-back:active,
a.pagination-item-forward:active {
	color: var(--basic-black-opacity-three);
}

.pagination-list a.current:hover,
.pagination-list a.current:focus {
	color: var(--basic-black);

	background-color: var(--bg-pagination);
}

.pagination-list a.current:active {
	color: var(--basic-black);

	background-color: var(--bg-pagination);
}

.pagination-list-sub a {
	padding: 25px 15px;
}

.pagination-list-sub a:hover,
.pagination-list-sub a:focus {
	color: var(--basic-black-opacity-six);
}

.pagination-list-sub a:active {
	color: var(--basic-black);
}

.pagination-list-sub a.current {
	color: var(--basic-black);
}

/* footer */

.inner-page .footer-logo:hover,
.inner-page .footer-logo:focus {
	opacity: 0.6;
}

.inner-page .footer-logo:active {
	opacity: 0.3;
}

.inner-page .footer-user-navigation {
	width: 480px;
}

.inner-page .footer-user-navigation li:nth-child(1) {
	margin-right: 8px;

}

.inner-page .footer-user-navigation li:nth-child(2) {
	margin: 0;
	padding: 0;
}

.inner-page .footer-user-navigation li:nth-child(3) {
	margin-left: auto;
	margin-right: 41px;
}

.footer-user-navigation-account {
	position: relative;

	margin-right: 19px;
	padding-left: 24px;
}

.footer-user-navigation-account::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;

	width: 13px;
	height: 14px;

	background-image: url("../img/user-yellow.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-user-navigation-account:hover::before {
	opacity: 0.6;
}

.footer-user-navigation-account:focus::before {
	opacity: 0.6;
}

.footer-user-navigation-account:active::before {
	opacity: 0.3;
}